<li class="{{#if isInPath}}current{{/if}} {{cssClasses}}">
    <a href="{{relativeURL url}}" class="{{#unless readme}}tsd-kind-icon{{/unless}}">{{{wbr title}}}</a>
    {{#if children}}
        <ul>
            {{#each children}}
                {{> toc readme=../readme}}
            {{/each}}
        </ul>
    {{/if}}
</li>
